.aboutMe {
    width: 80%;
    height: 300px;
    margin: 35px;
    font-size: 35px;
}

.aboutMe h2 {
    font-size: 50px;
    margin: 10px;
    text-align: center;
}

.aboutMe p {
    margin: 10px 5px 10px 5px;
    text-align: justify;
}

.menu-redes li {
    float: left;
    align-items: center;
    line-height: 100px;
    margin: 10px 10px;
    transition: none;
}

.menu-redes li a {
    font-size: 20px
}

.myphoto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-items: center;
}