.formulario {
    width: 100%;
    height: 900px;
    background: #EAF2FD;
    display: grid;
    grid-template-rows: 25% 75%;
}

.formulario img {
    width: 90%;
    height: 90%;
    margin: 30px 30px 30px 30px;
}

.formulario .datos {
    width: 90%;
    height: 350px;
    margin: 40px 0 20px 40px;
    font-size: 30px;
}

.formulario .datos input {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 7px;
    border: 10px;
}

.formulario .datos .mensaje {
    height: 150px;
}

.formulario .datos button {
    width: 160px;
    height: 30px;
    background: none;
    border-radius: 10px;
    font-family: "Hurricane", "josefin-Sans";
    font-size: 25px;
}

footer {
    margin-top: 30px;
    font-size: 20px;
}


/*responsive for desktop*/

@media screen and (min-width: 768px) {
    .formulario {
        width: 100%;
        height: 650px;
        grid-template-columns: 50% 50%;
    }
    .formulario img {
        width: 80%;
        height: 550px;
        margin: 50px 0 0 60px;
    }
}