.formaciones h2 {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 50px
}

.formacion .container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    gap: 1em;
}

.formaciones .container .formacion-cont {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr;
    text-align: center;
    gap: 1em;
}

.formaciones .container .formacion {
    height: 120px;
    text-align: center;
    background: #ffff;
    font-family: "Hurricane", "josefin-Sans";
    margin: 30px 30px 30px 30px;
    box-shadow: 11px 14px 19px 0px rgba(91, 20, 166, 0.75)
}

.formaciones .container .formacion img {
    max-width: 100px;
    max-height: 100px;
    margin: 20px 20px 20px 20px;
}

.formaciones .container .formacion__contenido h4 {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Hurricane", "josefin-Sans";
}

.formaciones .container .formacion__contenido p {
    font-size: 22px;
    text-align: center;
    font-family: "Hurricane", "josefin-Sans";
}


/*responsive for desktop*/

@media screen and (min-width: 768px) {
    .formaciones .container {
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .formaciones .container .formacion__contenido h4 {
        font-size: 19px;
    }
    .formaciones .container .formacion__contenido p {
        font-size: 14px;
    }
}