.formulario {
    width: 100%;
    height: 650px;
    background: #EAF2FD;
    display: grid;
    grid-template-columns: 50% 50%;
}

.formulario img {
    width: 80%;
    height: 80%;
    margin: 50px 0 0 60px;
}

.formulario .datos {
    width: 90%;
    height: 400px;
    margin: 40px 0 20px 0;
    font-size: 30px;
}

.formulario .datos input {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 7px;
    border: 10px;
}

.formulario .datos .mensaje {
    height: 150px;
}

footer {
    font-size: 20px;
}