@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Josefin+Sans:ital,wght@1,200&family=Lobster&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
.headerName {
    width: 350px;
    margin-left: 10px;
}

.bar-btn {
    font-size: 25px;
    margin: 20px;
    color: rgb(123, 26, 145);
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(228, 220, 220, 0.95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: rgb(123, 26, 145);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 10px;
}

.nav-menu .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
}

.nav-menu .border-top,
.nav-menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.nav-menu .border-left,
.nav-menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.nav-menu .border-top,
.nav-menu .border-left,
.nav-menu .border-right {
    top: 0;
}

.nav-menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.nav-menu .border-top {
    transform-origin: top left;
}

.nav-menu .border-left {
    transform-origin: bottom left;
}

.nav-menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}

.nav-menu a:hover .border-top,
.nav-menu a:hover .border-bottom {
    transform: scaleX(1);
}

.nav-menu a:hover .border-left,
.nav-menu a:hover .border-right {
    transform: scaleY(1);
}

.nav-menu a:hover .border-right {
    transition-delay: var(--transition-delay);
}

.nav-menu a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
}

.nav-menu a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
}


/* ANIMATIONS
      –––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav-menu[data-animation="diagonal"] .border-left {
    transform-origin: top left;
}

.nav-menu[data-animation="diagonal"] .border-right,
.nav-menu[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
}

.nav-menu[data-animation="diagonal"] a:hover [class^=border] {
    transition-delay: 0s;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: rgb(165, 138, 170);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/*responsive for desktop*/

@media screen and (min-width: 768px) {
    .headerName {
        margin-left: 50px;
        width: 600px;
    }
    .nav {
        height: 100px;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        width: 70%;
        height: 600px;
        font-size: 12px;
        position: relative;
        background: none;
        height: 100px;
        top: 0;
        transition: none;
        text-align: right;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 15px;
        color: rgb(82, 7, 98);
    }
}